station:
    publish_immediately: true

server:
    enabled: false
    fetchinterval: 15
    min_priority: 1

ntfy:
    url: "https://ntfy.example.com"
    username: "my-user-name"
    password: "my-password"

database:
    server: "127.0.0.1"
    port: 3306
    database: "notification"
    username: "notification_user"
    password: "notification_password"
