# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:latest
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: notification
          MYSQL_USER: notification_user
          MYSQL_PASSWORD: notification_password
        ports:
          - 3306:3306
        options: >-
          --health-cmd "mariadb-admin --protocol=TCP ping -h localhost -uroot -p$MYSQL_ROOT_PASSWORD"
          --health-interval=5s
          --health-timeout=2s
          --health-retries=10
          --health-start-period 60s

    steps:
    - uses: actions/checkout@v4
    - name: Wait for MariaDB
      run: |
        for i in {1..15}; do
          mysql -h 127.0.0.1 -uroot -proot -e "SELECT 1" notification && break
          echo "Waiting... ($i/15)"
          sleep 1
        done
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test
      run: |
        python3 src/notification_config.py
        python3 src/notification_database.py
        
